*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
}
nav img{
    height: 80px;
    width: 150px;
}
nav{
    width: 100vw !important;
    flex-wrap: nowrap;
    box-shadow: -2px 0px 10px grey ;
}
nav .btn,nav .btn:hover{
    border: 2px solid #004d71;
    background-color: #004d71;
}
nav ul li a {
    color: #004d71 !important;
}
.sec-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0px;
   }
#goo{
    border: 2px solid #004d71;
    height: 35px;
    width: 35px;
    color: white;
    font-weight: 700;
    background-color: #004d71;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    padding:2px 0px;
}
.sec-2 h6{
    display: inline-block;
}
.sec-2-search{
    border: 2px solid black;
    margin-top: 5px;
    display: flex;
    flex-wrap: nowrap;
    
}
.dropdown-search{
  display: flex;
    
}
.sec-2-search input{
 height: 39px;   
 width: 300px;
 height: 37px;
}
.icon{
 border: 2px solid #dfefeb;
 height: 37px;
 width: 50px;
 text-align: center;
 padding: 5px 0px;
 background-color: #dfefeb;  
 
}
.img-div{
    border: 2px solid #e8f6f9;
    height: 300px;
    width: 100%;
    border-radius: 30px;
    text-align: center;
    padding:10px 0;
    background-color: #e8f6f9;
    color: #004d71;
}
.img-div img{
    height: 200px;
    width: 80%;
    border-radius: 10px;
}
.img-div-2{
    border: 2px solid #fbe0d0;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 40px;
    background-color: #fbe0d0;
}
.img-div-ext{
    border: 2px solid #fef5de;
    background-color: #fef5de;
}
.img-div-2 img{
    height: 100px;
    

}
.img-div-3{
    border: 2px solid #dfefeb;
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 40px;
    background-color: #dfefeb;
}
.img-div-3 img{
    height: 100px;

}
.main-con{
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.main-con .child{
    border: 2px solid #dfefeb;
    height: 130px;
    width:20%;
    border-radius: 10px;
    color: #004d71;
    text-align: center;
    
}
.main-con .child img{
    height: 100px;
    width: 100%;
    background-color: #dfefeb;
}
   .view-con{
    border: 2px solid #dfefeb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: #dfefeb;
    margin: 30px 0px;
         
}
.view-con .child-view img{
    height: 150px !important;
}
.child-view #btn-1{
    border: 2px solid white;
    background-color: white;
    color: #004d71;
    box-shadow: 0px 5px 10px black;
}
.child-view #btn-2{
    background-color: #004d71;
    color: white;
    box-shadow: 0px 5px 10px black;

}
.child-dis{
    text-align: center;
}
.dis-con{
    display: flex;
    justify-content: space-evenly;
}
.dis-2-child{
   height: 70px;
    width: 70px;
    border-radius: 100%;
    text-align: center;
}
.dis-2-child img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
.review-card{
    border: 2px solid #dfefeb;
    width: 100% !important;
    height: 300px !important;
    text-align: justify; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;      
}
.review-card h3{
    font-size: 25px;
    padding-top: 20px;
    
    text-align: center;  
}
.svg-cont{
    height: 25px !important;
}
.review-card p{
     padding:0px 10px; 
     margin-bottom: 0px;
    }
.rating{
      border: 2px solid #dfefeb;
      background-color: #dcebf6;
      color: #004d71;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;  
    }
.rating p{
    }
.rating-good ,.rating-good p{
    height: 30px;
    background-color: #fbe0d0;
    color: #004d71;
   display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0px;
}
.rating-star{
    display: flex;
    height: 20px;
    gap: 0px;
}
.mobile-first-coll-con{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    align-items: start !important;
    height: 300px;
    width: 100%;
}
.circle{
    border: 2px solid #dcebf6;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    text-align: center;
    padding: 1px 0px;
    background-color: #dcebf6;
}
.mobile-first-coll-inner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #004d71;
}
.mobile-img{
    height: 300px;
}
.mobile-2nd-row-inner{
    height: 300px;
}
.partner-con{
    height: 200px;
    width: 100%;
  
}

.mobile-3rd-row-inner{

    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.mobile-2nd-row-inner p{
font-size: 20px;

}
.mobile-3rd-row-inner img{
    height: 50px;
}
.partner-child,.partner-child img{
   height: 100px;
   width: 100px;
   display: inline-block;
   margin-left: 70px;
}
.footer-fluid{
    width: 100%;
    background-color: #014e78;
}
.footer-con{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
        
}
.footer-con h5 ,.footer-con h6{
    color: white !important; 
}
.footer-con i{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}
.last-footer-con{
    text-align: center;
    padding: 10px 0px;
    color: white;
    background-color: #01334e;
}
.last-footer-inner{
    display: flex;
    flex-direction: column;
}
.last-footer-inner ul, ul li{
    display: flex;
    gap: 20px;
    text-decoration: none;
}

/*****************media query***********/ 
@media  screen and (max-width:576px) {
    .sec-2-search input{
 height: 38px;   
 width: 150px;
 height: 37px;
 flex-wrap: nowrap;
}

nav .container-fluid{
    justify-content: space-between !important;
}
.img-div-2 p , .img-div-3 p{
    font-size: 12px;
}
 .main-con .child p{
        font-size: 11px;
        padding-top: 4px;
    }
    .img-div-2{
        margin-top: 25px;
    }
    .img-div-3{
        margin-top: 25px;
    }
   .child-view h5{
    font-size: 13px;
   }   
   .child-view p,.child-view button{
    font-size: 10px;
   }
   .child-view button{
    margin-top: 5px;    
   }
   .dis-2-child p{
     font-size: 12px;
   }
   .child-dis p{
    font-size: 12px;
   }

.mobile-3rd-row-inner{

    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.partner-child,.partner-child img{
   height: 100px;
   width: 100px;
}
.partner-con{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly !important;
    align-items: start !important;
    margin-top: 20px;
}
.partner-hea{
    font-size: 15px;
    }
.last-footer-inner ul, ul li{
    display: flex;
    gap: 10px;
    text-decoration: none;
    font-size: 8px;
}
.last-footer-inner p{
    font-size: 10px;
}
.mobile-3rd-row-inner img{
      height: 40px;
}
.mobile-3rd-row-inner p{
    font-size: 15px;
}
}
@media screen and (min-width: 576px){
    .img-div-2{
        margin-top: 25px;
    }
    .img-div-3{
        margin-top: 25px;
    }
   
 
 
   
.partner-child,.partner-child img{
   height: 45px;
   width: 45px;
}
.partner-con{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: start !important;
    margin-top: 20px;
}
.partner-hea{
    font-size: 20px;
    padding-top: 30px !important;
    }
 
}

@media screen and (min-width: 768px) { 
    nav .container-fluid{
        display: flex;
        justify-content: space-between !important;
    }
.partner-con{
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}
.partner-child,.partner-child img{
   height: 100px;
   width: 100px;
}
.partner-hea{
    font-size: 25px;
}
.mobile-first-coll-con{
    display: flex;
    align-items: center;
}
}
@media screen and (min-width: 992px) {
   .container-fluid button{
          margin-top: 5px; 
    }  
   
}
